  /* @font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url('path/to/helvetica.woff') format('woff');
  }

h1 {
    text-align: center;
    font-size: 48px;
    color: #1582fe; 
    margin-top: 50px;
}

h2 { 
    text-align: center;
    font-size: 24;
    color: #000000; 
    margin-top: 50px;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 20px;
    background: linear-gradient(rgb(250, 250, 240), rgb(255, 235, 235));
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.design-process{
    background-color: rgba(255, 215, 229, 0.5);
    padding: 8px;
}

.column-left {
  float: left;
  width: 40%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column-right{
  float:  right;
  width: 40%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column-center{
  float:none;
  width: 40%;
  margin-bottom: 16px;
  padding: 0 30vw
}

.card {
  border-radius: 14px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
} */