
/*Heading*/
h1 {
    text-align: center;
    font-size: 75px;
}

/* CSS for next page button */
.nextPage {
    text-align: center;
    margin-top: 20px;
}

.nextPage a {
    background-color: #1582fe;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 36px;
    transition: background-color 0.3s ease;
}

.nextPage a:hover {
    background-color: #0e5aeb; /* Darker shade when hovered */
}

/* CSS for the python logo and description */

/* Center alignment for installation instructions */
.installation-instructions {
    margin-top: 50px; 
    text-align: center;
}

/* Center alignment for installation files */
.installation-files {
    margin-top: 50px; /* Adjust margin as needed */
    text-align: center;
}

/* Center alignment for python image */
.python-image {
    margin-top: 50px; /* Adjust margin as needed */
}
/* End of python logo and description */

