/*next page button */
.nextPage {
    text-align: center;
    margin-top: 20px;
}

.nextPage a {
    background-color: #1582fe;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 36px;
    transition: background-color 0.3s ease;
}

.nextPage a:hover {
    background-color: #0e5aeb; /* Darker shade when hovered */
}

/* Style for the timer */
#timer {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

/* Style for the timer text */
#timer p {
    margin: 0;
}   
